<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  testing homepage
  <%
  
    var output = '';
    if(data){
      data.forEach(function(ele){
        output += '<p>' + ele + '</p>'
      })
    }
    %>
    <%- output %>

</body>
</html>